.bg-evergreen{
  background-color: #006242;
}
.main-footer{
  background-color: #006242;
}

.homepage{
  background-color: #C8C8C8;
}

h1{
  margin: 20px;
}

.create-button{
  margin: 10px;
}

img {
  margin: 5px;
}
